.sidebar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2eae1;
}
.sidebarImg {
  width: 84px;
  height: 23px;
  position: relative;
  margin: 35px 0 54px 0;
}
.sidebarImg img {
  height: 100%;
  width: 100%;
}
.sidebarImg::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  top: 0;
  left: -10px;
  background-color: #f8d442;
}

.sidbarImgPerson {
  width: 128px;
  height: 128px;
  padding-bottom: 20px;
}

.sidbarImgPerson img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.personInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.personInfo h2 {
  font-weight: 700;
  font-size: 17px;
  padding-bottom: 91px;
}

.sidebar .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar .links a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  color: black;
  display: flex;
  justify-content: space-between;
}
.active {
  background-color: #feaf00;
  border-radius: 4px;
}

.links a {
  padding: 12px 56px 12px 40px;
  margin-bottom: 31px;
}

.logout {
  height: 100%;
  width: 85px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

/* ========================= */
/* Mobile Responsive Only */
/* ========================= */

.sidebarToggle {
  display: none;
}

@media (max-width: 768px) {
  .sidebarToggle {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 16%;
    right: -30px;

    transform: translateY(-50%);

    width: 30px;
    height: 60px;

    background-color: #f8d442;
    border: none;
    font-size: 22px;
    cursor: pointer;
    border-radius: 0 6px 6px 0;
    z-index: 99999;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 99998;

    transform: translateX(calc(-100% + 30px));
    transition: transform 0.3s ease;
  }

  .sidebar.open {
    transform: translateX(0);
  }
}
